[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Picasa
Comment=Image organizer and viewer
Categories=Graphics
Exec=picasa-snap %F
Icon=${SNAP}/meta/gui/picasa.png
Terminal=false
StartupNotify=true
StartupWMClass=Picasa.exe
