[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Picasa
Categories=Graphics
Exec=picasa %F
Icon=${SNAP}/meta/gui/picasa.png
Terminal=false
StartupNotify=true
StartupWMClass=Picasa.exe
